body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;

  color: #000;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 64.4px;
}

footer {
  background-image: url("../assets/img/footerBG.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 13rem;
}

.copy__right {
  text-align: center;
}

@media(max-width: 600px) {
  footer div p a {
    font-size: 0.8rem;
  }

  .contacts {
    margin: 0 20px;
  }
}

.wrapper {
  display: inline-flex;
  flex-wrap: wrap;

  margin: 0 64.4px;

  list-style: none;
}

.wrapper .icon {
  font-size: 18px;

  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 15px;

  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .tooltip {
  font-size: 14px;

  position: absolute;
  top: 0;

  padding: 5px 8px;

  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;

  opacity: 0;
  color: #ffffff;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.wrapper .toolti::before {
  position: absolute;
  bottom: -3px;
  left: 50%;

  width: 8px;
  height: 8px;

  content: "";
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translate(-50%) rotate( 45deg);

  background: #ffffff;
}

.wrapper .icon:hover .tooltip {
  top: -45px;

  visibility: visible;

  pointer-events: auto;

  opacity: 1;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  color: #ffffff;
  background: #1877f2;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  color: #ffffff;
  background: #1da1f2;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  color: #ffffff;
  background: #e4405f;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  color: #ffffff;
  background: #333333;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  color: #ffffff;
  background: #cd201f;
}

.style__h1 {
  color: #d795c0;
}
