:root {
  --body-color: rgb(249, 250, 255);
  --box-background-color: rgb(150, 179, 217);
}

body {
  background-color: var(--body-color);
}

.style {
  background: url(../assets/img/bg.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #f9faff;
  height: 50rem;
   padding-bottom: 30rem;
   margin-right: 2%;
}

#forget_password{
  margin-left: 51%;
}

.style .box {
  background: rgb(150, 179, 217);
  display: grid;
  justify-content: center;
  border-radius: 18px;
  height: 500px;
  width: 35%;
  margin-left: 4%;
  margin-top: 2%;
}
.style input {
  box-shadow: 4px 4px 9px #888888;
}

.login-btn {
  /* background: rgb(82, 74, 101);
  width: 255px;
  height: 43px;
  box-shadow: 4px 4px 9px #888888; */
  background: rgb(82, 74, 101);
  width: 100%;
  height: 43px;
  box-shadow: 4px 4px 9px #888888;
}

.style h1 {
  color: #f9faff;
  font-size: 45px;
  /* margin: 97px auto 58px auto; */
    margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.box__sign{
  padding-top: 8%;
margin-left: 5%;
}

.password_container{
  margin-bottom: 3rem;
}
/*----------------media query--------------*/

@media screen and (max-width: 600px) {
  .style input {
    padding: 7%;
    font-size: 0.1rem;
    width: 73%;
    height: 33px;
    margin-left: 23px;
  }
  .style input::placeholder {
    font-size: 0.6rem;
  }

  .SignUp-btn {
    width: 108px;
    margin-left: 1.7rem;
    font-size: 0.6rem;
    padding: 0;
    height: 20px;
  }
  .style form p {
    font-size: 12px;
  }
  form {
    width: 10rem;
    margin-top: 11px;
  }

  span a {
    font-size: 0.5rem;
  }
  .style h1 {
    margin: 10px auto 6px auto;
    font-size: 1.5rem;
  }
  .style small {
    font-size: 0.1rem;
    margin-left: 2rem;
  }
  .style .box {
    margin-left: 63px;
    height: 387px;
    padding: 7px;
    width: 195px;
  }
  .style{
    background-image: none;
    height: 16rem;
    padding-bottom: 25rem;
    margin-right: 44%;
  }
  .login-btn{
    width: 73%;
    height: 33px;
    margin-left: 23px;
  }
  #forget_password{
    margin-left: 38%;
  }
  .password_container{
    margin-bottom: 2rem;
  }
  footer{
    margin-top: 2rem;

  }
}
