:root {
  /* light */

  --navBar_container_bg_color_light: #dbe5f2;
  --navBar_container_txt_color_light: #524a65;

  /* dark */

  --navBar_container_bg_color_dark: #27374d;
  --navBar_container_txt_color_dark: white;
}

.navbar_container {
  background-color: var(--navBar_container_bg_color_light);
}

.dark-mode .navbar_container {
  background-color: var(--navBar_container_bg_color_dark);
}

.txt_color {
  color: var(--navBar_container_txt_color_light);
}

.dark-mode .txt_color {
  color: var(--navBar_container_txt_color_dark);
}
.user__name{
  color: #dbe5f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* dark-light mode */

/* switch */

.switch-background {
  width: 90px;
  height: 40px;
  margin-top: 0.5em;

  transition: box-shadow 1s ease-in;

  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 5px rgb(56, 32, 72),
    -1px -1px 5px rgba(212, 176, 235, 0.636);
}

.off-shadow {
  box-shadow: 1px 1px 5px rgb(56, 32, 72),
    -1px -1px 5px rgba(212, 176, 235, 0.636);
}

.on-shadow {
  box-shadow: 1px 1px 5px rgb(99, 17, 46),
    -1px -1px 5px rgba(255, 217, 245, 0.468);
}

.innerSwitch {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  margin-top: 9px;
  margin-left: 10px;

  border-radius: 10px;
  background-color: rgb(243, 255, 148);
}

.face {
  width: 12px;
  height: 12px;
  padding-bottom: 2px;

  cursor: pointer;
}
.edit_margin{
  margin: 0 64.4px
}

@media (max-width:450px) {
  .edit_margin {
    margin: 0 0 !important;
  }
}