body {
  font-family: "Jost", sans-serif;
}

main {
  background-color: rgb(54, 35, 96);
  background-image: url("../assets/img/scorebg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 14%;
}

.score img {
  width: 25rem;
}

.score h1 {
  font-size: 2rem;

  color: #fff;
}

.score span {
  font-size: 3rem;

  display: inline-block;

  padding: 1.5%;

  text-align: center;

  color: rgb(132 166 211 / 91%);
  border-radius: 50%;
  background-color: #fff;
}

#questions {
  font-size: 30px;

  color: #fff;
}

#container-score {
  height: 850px;

  background-repeat: no-repeat;
  background-position: left bottom;
}

.score {
  width: 50%;

  text-align: center;
}

.score-text {
  font-size: 1.5rem;
  font-style: inherit;

  display: flex;
  align-items: start;
  flex-direction: column;

  margin-top: 6%;
  margin-left: 13%;

  color: white;
}

.heder_submited {
  margin-bottom: 3%;
  padding: 2%;

  color: #fff;
  border: #fff 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and(max-width: 320px) {
  #score h1 {
    font-size: 15px;
  }

  .score-text {
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
  }

  #container-score {
    height: 29rem;
  }
}
